@import url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:500,600);
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --violet: hsl(263, 55%, 52%);
   --blue-200: hsl(210, 46%, 95%);
   --blue-500: hsl(217, 19%, 35%);
   --blue-800: hsl(219, 29%, 14%);
   --white: hsl(0, 0%, 100%);
   --verified-light: hsl(0, 0%, 100%, 0.5);
   --review-light: hsl(0, 0%, 100%, 0.7);

   --gray-100: hsl(0, 0%, 81%);
   --verified-dark: hsl(217, 19%, 35%, 0.5);
   --review-dark: hsl(217, 19%, 35%, 0.7);

   /* Typography */
   --family: "Barlow Semi Condensed", sans-serif;
   --fw-500: 500;
   --fw-600: 600;
   --fz-basic: 13px;
   --radii: 1rem;
}

body {
   font-family: var(--family);
   font-weight: var(--fw-500);
   font-size: var(--fz-basic);
   background-color: var(--gray-100);
   color: var(--white);
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.dashboard {
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 1100px;
   padding: 4rem 1rem;
}
.grid__template {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 1.5rem;
}
.box {
   border-radius: var(--radii);
   height: 100%;
   padding: 2rem 2rem;
   color: var(--white);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.box1 {
   background-color: var(--violet);
   grid-column: span 2;
   background-image: url(./images/bg-pattern-quotation.svg);
   background-size: 120px 120px;
   background-repeat: no-repeat;
   background-position: 80%  0%;
}
.box2 {
   background-color: var(--blue-500);
}
.box3 {
   background-color: var(--white);
}
.box4 {
   background-color: var(--blue-800);
   /* grid-column: span 2; */
   /* order: 1; */
}
.box5 {
   background-color: var(--white);
   /* grid-row: span 2; */
}
.box-white {
   color: var(--blue-500);
}
.author__block {
   display: flex;
}
.author__text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.author__image {
   border-radius: 50%;
   margin-right: 1rem;
   width: 40px;
   height: 40px;
}
.author__title {
   font-size: 1rem;
}
.author__subtitle {
   opacity: 0.5;
}
.title__block {
   font-size: 1.25rem;
   padding: 0.5rem 0;
}
.text__block {
   opacity: 0.7;
   line-height: 1.5;
}

@media(max-width: 767px) {
   .grid__template {
      grid-template-columns: 1fr;
   }
   .box3 {
      grid-row: auto;
   }
}
